.card{
    width: 95%;
    height: 108px;
    margin: 0px auto;
    background-color: #101e30;
    border-radius: 12px;
    margin-bottom: 35px;
}
.usersteps, .userworkout, .usernutrition{
    width: 19.25%;
    display: inline-flex;
    text-align: center;
}
.usersteps{
    margin: 0px 18px;
    text-align: center;
    color: #FFF;
}
.usernotification{
    width: 3.5%;
    height: 48px;
    display: inline-flex;
    text-align: center;
    background-color: #00fad3;
    position: relative;
    top: -21px;
    border-radius: 10px;
}
.bell{
    color: black;
    margin: 0px auto;
    top: 7px;
    position: relative;
}