.card{
    width: 95%;
    height: 108px;
    margin: 0px auto;
    background-color: #101e30;
    border-radius: 12px;
    margin-bottom: 35px;
}
.usersteps, .userworkout, .usernutrition{
    width: 19.25%;
    display: inline-flex;
    text-align: center;
}
.usersteps{
    margin: 0px 18px;
    text-align: center;
    color: #FFF;
}
.usernotification{
    width: 3.5%;
    height: 48px;
    display: inline-flex;
    text-align: center;
    background-color: #00fad3;
    position: relative;
    top: -21px;
    border-radius: 10px;
}
.bell{
    color: black;
    margin: 0px auto;
    top: 7px;
    position: relative;
}
.steps, .workout, .nutrition{display: none;}
@media (min-width:992px) and (max-width:1080px){
    .usersteps, .userworkout, .usernutrition{
        width: 18.25%;
        position: relative;   
        left: -70px;
    }
}
@media (min-width:480px) and (max-width:992px){
    .usersteps, .userworkout, .usernutrition,.usernotification{
        margin: 0px auto;
        margin-top: 20px;
        justify-content: center;
    }
    .card{
        margin-top: 35px;
        display: grid;
        height: 100%;
    }
    .toggle{
        display: flex;
        position: relative;
        top: 25px;
        right: 60px;
    }
    .steps, .workout, .nutrition{
        width: 20%;
        font-size: 24px;
        font-weight: 500;
        display: inline-flex;
        margin: 0px auto;
        justify-content: center;
        margin-bottom: 30px;
    }
    .usernotification{
        margin-top: 40px;
    }
}