.pieChart{
    height: 80px;
    width: 80px;
    position: relative;
    top: 14px;
}
.number{
    font-size: 15px;
    font-weight: 600;
}
.text{
    font-size: 10px;
    position: relative;
    top: -6px;
}
.pieChartText{
    color: darkgray;
    position: relative;
    top: -60px;
}